{% extends 'card/base.html' %}

{% block content %}

  <h3>Add work time</h3>

  {% if error %}
    <div class="alert alert-danger">
      {{error}}
    </div>
  {% endif %}

  <form action="{% url 'card:add_new_work' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-xs-3">
        <label>Project</label>
      </div>
      <div class="col-xs-3">
        <label>Start time</label>
      </div>
      <div class="col-xs-3">
        <label>End time</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <select class="form-control" name="project_id">
          {% for project in projects %}
            <option value="{{project.id}}"
              {% ifequal project_id project.id %} selected {% endifequal %}
            >{{project.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-xs-3">
        <input type="text" name="start_time" class="form-control" value='{% if start_time %}{{start_time}}{% else %}{% now "Y-m-d H:i" %}{% endif %}'>
      </div>
      <div class="col-xs-3">
        <input type="text" name="end_time" class="form-control" value='{% if end_time %}{{end_time}}{% else %}{% now "Y-m-d H:i" %}{% endif %}'>
      </div>
      <div class="col-xs-1">
        <input type="submit" class="btn btn-primary" value="Add" />
      </div>
    </div>
  </form>

{% endblock %}
