{% extends 'card/base.html' %}

{% block content %}

  <h3>New project</h3>

  <form action="{% url 'card:new_project' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-lg-3 form-col">
        <input class="form-control" type="text" name="name" value="">
      </div>
      <div class="col-lg-1 form-col">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>

  <br>

  <h3>Active projects</h3>

  <ul>
    {% for project in projects %}
      <li><a href="{% url 'card:view_project' project.id %}">{{project.name}}</a></li>
    {% endfor %}
  </ul>

  {% if completed_projects %}
    <h3>Completed projects:</h3>

    <ul>
      {% for project in completed_projects %}
        <li><a href="{% url 'card:view_project' project.id %}">{{project.name}}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
