{% extends 'card/base.html' %}

{% block content %}
  <h3>Project {{project.name}}</h3>

  {% if completed %}
    <p>
      This project is completed.
    </p>
  {% else %}
    <p>
      This project is not yet completed.
    </p>
  {% endif %}

  <br>

  <form class="" action="{% url 'card:destroy_project' project.id %}" method="post">
    {% csrf_token %}
    <button type="submit" name="button" class="btn btn-danger">Delete</button>
  </form>

  <br>

  {% if not completed %}
    <form class="" action="{% url 'card:complete_project' project.id %}" method="post">
      {% csrf_token %}
      <button type="submit" name="button" class="btn btn-default">Project completed</button>
    </form>
  {% endif %}
{% endblock %}
