<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Timecard</title>

  </head>
  <body>
    <h1>Timecard</h1>
    <a href="{% url 'card:index' %}">Home</a> |
    <a href="{% url 'card:project' %}">Projects</a> |
    <a href="{% url 'card:balance' %}">Balance</a>

    {% block content %}
    {% endblock %}

    {% load staticfiles %}
    <script src="{% static 'card/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'card/js/timer.js' %}"></script>

  </body>
</html>
