{% extends 'card/base.html' %}

{% block content %}



  <h3>Hours left today:</h3>

  <span id="hours">1</span> h
  <span id="minutes">1</span> min
  <span id="seconds">1</span> sec

  {% if current_work %}
    <!-- Current work information -->
    <h3>Current timer</h3>

    <b>Start time</b><br>
    {{current_work.start_time|date:"H:i j.m.Y"}}<br><br>

    <b>Project</b><br>
    {{current_work.project.name}}<br><br>

    <form action="{% url 'card:work_done' current_work.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Stop timer" />
    </form>
  {% else %}
    <!-- No current work, display interface for starting a timer/work -->
    <h4>Start a timer for project:</h4>
    <ul>
      {% for project in projects %}
        <li><a href="{% url 'card:new_work' project.id %}">{{project.name}}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
