{% extends 'card/base.html' %}

{% block content %}

  <h3>Edit</h3>

  {% if error %}
    <div class="alert alert-danger">
      {{error}}
    </div>
  {% endif %}

  <form action="{% url 'card:update_minutes' minutes_id %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-lg-2 form-col">
        <div class="row">
          <label>Start date</label>
        </div>
        <div class="row">
          <input type="text" name="start_date" value="{% if not error %}{{start_date|date:'Y-m-d H:i'}}{% else %}{{start_date}}{% endif %}" class="form-control">
        </div>
      </div>
      <div class="col-lg-2 form-col">
        <div class="row">
          <label>End date</label>
        </div>
        <div class="row">
          <input type="text" name="end_date" value="{% if not error %}{{end_date|date:'Y-m-d H:i'}}{% else %}{{end_date}}{% endif %}" class="form-control">
        </div>
      </div>
      <div class="col-lg-2 form-col">
        <div class="row">
          <label>Hours per day</label>
        </div>
        <div class="row">
          <input type="text" name="hours" value="{{hours_per_day}}" class="form-control">
        </div>
      </div>
      <div class="col-lg-2 form-col">
        <div class="row">
          <label>&nbsp;</label>
        </div>
        <div class="row">
          <button class="btn btn-primary" type="submit">Update</button>
        </div>
      </div>
    </div>
  </form>

{% endblock %}
