{% extends 'card/base.html' %}

{% block content %}
  <form action="{% url 'card:change_settings' %}" method="post">
    {% csrf_token %}
    <label for="hours_per_day">Hours per day</label>
    <div class="row">
      <div class="col-xs-2">
        <input class="form-control" type="text" value="{{hours_per_day}}" name="hours_per_day"/>
      </div>
      <button class="btn btn-primary" type="submit">Change</button>
    </div>
  </form>

  <br>
  Your hours per day is currently set to {{full_hours}} h {{leftover_minutes}} min ({{minutes_per_day}} minutes).

{% endblock %}
