#page-content-wrapper {
  margin-left: 200px;
  margin-right: 200px;
}

.timer li {
  list-style-type: none;
  margin: 10px -20px;
}

a.disabled_link {
	pointer-events: none;
  cursor: default;
}

.indented{
  padding-left: 10px;
  padding-right: 10px;
}

table.report tr td, table.report tr th {
  padding-left: 15px;
}

table.report {
  width: 600px;
}

.form-col {
  margin: 15px;
}
